html { padding: 10px;}
body {
    background-image: url("backg.png");
    background-repeat: no-repeat;
    background-position: relative;
    background-size: cover;
    background-color: rgb(34, 63, 30);
}

img.logo {
    background-color: #fff;
    border-radius: 4px;
}